/* ===== TICKER DE MENSAJES ===== */
 
.ticker{
 
    background:linear-gradient(90deg, var(--VerdePrincipal), var(--VerdeSalvia));
 
    overflow:hidden;
 
    padding:12px 0;
 
}
 
.ticker-track{
 
    display:flex;
 
    width:max-content;
 
    animation:scrollTicker 28s linear infinite;
 
}
 
.ticker-item{
 
    display:flex;
 
    align-items:center;
 
    gap:8px;
 
    color:white;
 
    font-weight:500;
 
    font-size:.9rem;
 
    white-space:nowrap;
 
    padding:0 40px;
 
    border-right:1px solid rgba(255,255,255,.3);
}
 
@keyframes scrollTicker{
 
    from{ transform:translateX(0); }
    to{ transform:translateX(-50%); }
 
}